<div class="base-container">
    <div class="page-container">
      <header class="aof-header">
        <div class="aof-header-container">
          <div class="logo">
            <a href=""><img src="assets/images/svg/logo.svg" alt="DigiFace Logo"></a>
          </div>
          <div class="page-title">
            <h1>Become an <span>Investor</span></h1>
          </div>
          <div class="header-action">
            <button (click)="navigateToFCHome()">Close <i class="icon icon-close"></i>
            </button>
          </div>
        </div>
      </header>
  
      <div class="success">
        <div class="success-container">
          <!-- <div class="success-header">
            <div class="success-header-ImageRef-container">
              <img class="success-heaeder-ImageRef" src="assets/images/svg/success-header.svg" alt="header">
            </div>
            <img class="success-heaeder-icon" src="assets/images/svg/success-header-icon.svg" alt="header icon">
          </div> -->
          <div class="success-cont">
            <h2>This site is currently <br><span>down for maintenance.</span></h2>
            <p>We apologize for any inconvenience caused. <br>
                We will be back soon!</p>
            <!-- <h4>Application Reference Number : {{referenceNo}}</h4> -->
            <!-- <hr> -->
            <br><br>
          </div>
        </div>
      </div>
  
      <footer class="aof-footer">
        Copyright © 2022 First Capital Holdings PLC - Investment Institution in Sri Lanka. Solution by
        <a href="https://www.epictechnology.lk/" target="_blank" rel="noopener noreferrer">Epic Lanka Pvt Ltd</a>
      </footer>
    </div>
  </div>
  